:root{
    --tema:rgb(255, 0, 34);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    background: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* NAV */
.header-movil{
    display: none;
}
nav{
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    width: 150px;
    overflow: hidden;
    z-index: 1000;
    border-radius: 0 0 40px 0;
}
.ul-nav{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 height: 80px;
}





/* LOGO */











/* BOTON CALCULAR */
.div-calculaAhora{
  display: flex;
  align-items: center;
} 

.div-calculaAhora p{
  font-weight: 700;
  font-size: 22px;
  color: var(--tema);

}

.calcularAhora{
    background-color: var(--tema);
    padding: 12px 45px 12px 25px;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
} .calcularAhora img{
    position: absolute;
    right:  18px;
    width: 27px;
    transition: .5s;
} .calcularAhora:hover img{
    right: 5px;
    transition: .5s;
}















@media (max-width:550px){
 nav{ 
    display: none;
}
.header-movil{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.959);
    backdrop-filter: blur(4px);
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    height: 80px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.logo{
    padding: 20px;
}
.llamar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 17px 20px;
    border-left: 1px solid rgb(221, 221, 221);
} .llamar img{
    rotate: 135deg;
} .llamar p{
    font-size: 12px;
    color: rgb(83, 83, 83);
}



}
